
@import url("css/bulma.css");

#panel {
	padding: 40px;
} #panel .panel-heading {
	border-radius: 0;
} #panel > *:first-child {
	border-radius: 4px 4px 0 0;
} #panel > *:last-child {
	border-radius: 0 0 4px 4px;
} #panel > .panel-block.is-active {
	border-left-width: 2px;
}

.table td.name {
	width: calc(256px + 128px);
}

.table .types {
	width: 128px;
} .table .parameter, .table .index {
	width: 256px;
} .table .options {
	width: 128px;
}

/* styles for prettification of source */
pre .comment { color: #558817; }
pre .constant { color: #a8660d; }
pre .escape { color: #844631; }
pre .keyword { color: #2239a8; font-weight: bold; }
pre .library { color: #0e7c6b; }
pre .marker { color: #512b1e; background: #fedc56; font-weight: bold; }
pre .string { color: #a8660d; }
pre .number { color: #f8660d; }
pre .operator { color: #2239a8; font-weight: bold; }
pre .preprocessor, pre .prepro { color: #a33243; }
pre .global { color: #800080; }
pre .prompt { color: #558817; }
pre .url { color: #272fc2; text-decoration: underline; }
